[2018-03-06 06:15] chrisvneal opened #15 "Issues As A Communication Tool"
@GWGweb-projectgroup

 I'm just testing out this feature _(using the @)_ as a way to communicate to the whole team. I know that using individual GitHub usernames would notify the individual and also our **project group name/ team name** will contact everyone on a particular team _(hopefully)_ .

We can all start communicating ideas on here now. More people may join, I expect at least a few , until

[2018-03-06 12:03] darenjm commented on #15
Hi Chris,

Received!

Daren

On Tue, Mar 6, 2018 at 1:15 AM Chris Neal <notifications@github.com> wrote:

--
Daren Morreale
+57 (321) 826-1600
Whatsapp
Skype: darenjm444

[2018-03-06 13:52] dandydanny commented on #15
Got the message!

[2018-03-06 19:46] InaChemerko commented on #15
Got it!

[2018-03-06 21:26] AmberRoberts commented on #15
Got it!

On Mar 6, 2018 1:15 AM, "Chris Neal" <notifications@github.com> wrote:

[2018-03-06 22:47] chrisvneal commented on #15
Hello @AmberRoberts!

Will you be joining our team? If so, **that's great news!**  🎉

 Remember to
* check out the **README**

* add your name to a team

* push those changes back to our **[master]** branch for review

Let me know if you need any help! I'll send you a member invitation as soon as you do! 👍

@InaChemerko, remember to **push your changes** as well.

[2018-03-07 02:14] elementWebDev commented on #15
Awesome job @chrisvneal for organizing!

[2018-03-07 04:46] chrisvneal commented on #15
Thanks @elementWebDev , glad you can help out! I hope some of the people you gathered can make it into the group.

[2018-03-07 19:03] elementWebDev commented on #15
glad to help

[2018-03-09 05:26] chrisvneal commented on #15
@GWGweb-projectgroup

We are nearing the end of the week and winding down to some final concepts to the site. This is the point where we can all come out and begin discussing ideas and working on building out our concept.

The concept on the horizon now is a

* ### mock ecommerce site

@elementWebDev has uploaded an early sketch/wireframe and some images to get things started. Also, refer to our n

[2018-03-09 06:23] elementWebDev commented on #15
Nice catch @chrisvneal on the .container, and thanks for getting that all up.. I'll try to do more work in less commits.

[2018-03-09 20:43] #15 closed

[2018-03-11 08:20] chrisvneal opened #26 "Moving Forward"
What's up @GWGweb-projectgroup

Welcome @Cynth42!

We can all begin working on this project. The concept of the site is really simple and we can go over more as the week progresses, but we will be working on a **mock e-commerce site**.

### Quick Notes

* I included [pictures](https://github.com/GWGweb-projectgroup/practice-project/tree/master/img) for the @GWGweb-projectgroup/layout team and @GWG

[2018-03-11 09:29] darenjm commented on #26
Good morning, this is exciting!

Daren Morreale
WordPress Website Designer
www.darenjm.com
USA: (347) 467-1093
Colombia: +57 (321) 926-1600 - whatsapp
skype: darenjm444

On Sun, Mar 11, 2018 at 3:20 AM, Chris Neal <notifications@github.com>
wrote:

[2018-03-12 03:45] Cynth42 commented on #26
Hey Chris! This is great - We can do this! But Wireframe link is down; needs fixing.

[2018-03-12 04:37] chrisvneal commented on #26
OK @Cynth42  I'll look into it thanks

[2018-03-12 05:48] elementWebDev commented on #26
the link is wireframes/proto.png

[2018-03-12 05:50] elementWebDev commented on #26
also img/home.png, img/products.png, img/product.png

[2018-03-12 06:08] chrisvneal commented on #26
@Cynth42  which wireframe link are you referring to? The team name links work and I can view the .png file. Was it somewhere in the README?

[2018-03-12 20:04] Cynth42 commented on #26
I clicked on the link right here in issue: Check out @elementWebDev's wireframes to help kickstart the main page! but it took me to a 404 page.  I'll just look in .png file. Thanks!

[2018-03-12 20:06] chrisvneal commented on #26
Hey @Cynth42 thanks for checking that, I just fixed it and added the link.

[2018-03-12 20:14] chrisvneal opened #36 "Froala Design Blocks - inspiration for components"
@GWGweb-projectgroup/layout
@GWGweb-projectgroup/index-html

I came across the **[froala/design blocks](https://github.com/froala/design-blocks)** GitHub account that has some good templates for website components. Check them out when you get a chance for inspiration!

I'll be going there again to see if I can get some ideas!

[2018-03-12 21:24] elementWebDev commented on #26
Thanks Chris

Just an update, I'm working on a products page and waiting until i have something decent to commit.

[2018-03-12 21:28] elementWebDev commented on #36
I could've used this awhile ago...lol

[2018-03-12 21:57] chrisvneal commented on #26
@elementWebDev thanks! Remember, ideas are welcome too. Don't feel that a feature has to be 100% done to commit!

[2018-03-12 22:08] elementWebDev commented on #26
ok... how about this..

Create folder for each feature with its own files to be integrated in the root when finished
-or-
would it be better to have it all in one file to be dissected?

[2018-03-12 22:09] elementWebDev commented on #26
i only ask because there were a whole bunch of commits while I was working on it lol

[2018-03-12 23:43] chrisvneal commented on #26
@elementWebDev if you have a new feature that your working on that you aren't too sure you want to incorporate yet into the project (for example PHP/mySQL functionality, maybe another framework, etc.), create another branch for it on your local machine so you can also continue to work on the site with the regular stuff _(Bootstrap classes, CSS, simple JavaScript)_ in your local **[dev]** branch.

[2018-03-12 23:44] elementWebDev commented on #26
![product-on-hover](https://user-images.githubusercontent.com/12195875/37314996-5e7a2b1e-2614-11e8-9fa9-4292cd88f105.png)
screen shot of product image on hover

[2018-03-12 23:45] elementWebDev commented on #26
I like that idea @chrisvneal

[2018-03-12 23:55] chrisvneal commented on #26
@elementWebDev Looking over the code now, nice work! What I'll do is merge everything into the **[dev]** branch and pull it so I can see the site. Looks good to me, I don't see any issues so far. 👍

[2018-03-13 17:49] elementWebDev commented on #26
Continuing the conversation from <a href="https://github.com/GWGweb-projectgroup/practice-project/pull/41">PR #41</a>...

Since we're only doing 2-3 pages, I'm assuming we should have all products on one page in different sections. On Sale items either on the home or on top of products page?

Anyone else with ideas... please feel free to jump in  👍

[2018-03-13 18:58] anvarov commented on #26
hello everyone, just wanted to know, how app will run (i mean server, database etc)?
and do we have special requirements about that, for example when implementing user authorization, will we use any libraries if we do, what kind of?

p.s. I'm very sorry for my english, it is not my native language

[2018-03-13 20:22] Cynth42 commented on #36
Just pulled latest changes from GWG eCommerce.  I see great progress, but I'm not sure or don't know what to do.  Need direction.

[2018-03-13 20:35] elementWebDev commented on #36
@Cynth42
So far..

 We need a script for the nav to change (current) to active page,

The cart.js needs work as well as html to be integrated

If anyone has other feedback / ideas please post them

[2018-03-13 21:03] elementWebDev commented on #26
@anvarov  we haven't gotten anything together like that as far as I'm aware, however if you are working on something of the sort... as @chrisvneal posted above ...

- > **[master]** - where you would pull the latest changes from the main repo
- > **[dev]** - where you make changes to be pushed back to your GitHub acct's [dev] branch to make the pull request to be reviewed

- > **[php_idea]** - to

[2018-03-13 21:34] elementWebDev commented on #26
![products-info](https://user-images.githubusercontent.com/12195875/37371103-8aceb984-26cb-11e8-974b-2bc624db7af0.png)
idea proposal

[2018-03-13 21:46] Cynth42 commented on #36
Okay @elementWebDev - cart.js needs script to add shopping cart at checkout?  Looking for ideas.  What's up with the HTML team?

[2018-03-13 21:47] elementWebDev commented on #26
I have uploaded the project to my site <a href="https://elementwebdev.com/gwg/">https://elementwebdev.com/gwg</a> so we can see progress other than just code

[2018-03-13 23:21] Cynth42 commented on #26
@elementWebDev the idea proposal looks great!  Okay- cool and You can also see progress made on the site by clicking on the index page.

[2018-03-13 23:21] chrisvneal commented on #26
@elementWebDev

I can see how the Sale items on the main page would work, like we see on most e-commerce pages.

I like the idea of having the content switch as you select different categories, would we need anything like Ajax for that? I imagine PHP alone could, I'm actually interested in learning that. If you can make that happen by all means.

If you have to remove any of the graphics I put the

[2018-03-13 23:30] chrisvneal commented on #36
@elementWebDev @Cynth42

I see us adding any interactivity a little later on after we build things out a little more because that could have some effect on what we decide to script, but if you have ideas go on ahead, let's see.

@Cynth42 the main **index.html** page could use some attention. At the moment, I like the structure of the three columns. We could still use **.rows** and **.cols** within

[2018-03-13 23:35] Cynth42 commented on #26
Alright, so when a buyer goes on the site and clicks on a headphone, it should take him to the item's description and ultimately to add item to cart.  How is the cart set up? Where can I find resources to write script for cart.js? Are you incorporating other languages like PHP and Ruby? What would be their purpose?

[2018-03-14 00:44] elementWebDev commented on #26
@chrisvneal

The hero images look awesome! We'll have to work on the css breakpoints for mobile.

**Some task ideas for those interested:**
manipulate the menu with jquery or vanilla .js

make a products.js in JSON that includes:
- product name
- description
- image
- price
- weight (optional- for shipping purposes)

I want to try and avoid php if we can, other than if we do logins etc. However si

[2018-03-14 00:50] elementWebDev commented on #26
@Cynth42
here's a sample link [client-side shopping cart](https://www.smashingmagazine.com/2014/02/create-client-side-shopping-cart/)

[2018-03-14 04:54] chrisvneal commented on #26
@Cynth42 @elementWebDev

As far as the cart is concerned, whatever functionality you want to incorporate is fine. I want to be careful and not step into creating an actual, real store with logins, etc. I'd expect to hit a login link and just have a modal pop up, but that's as far as that would go. No need to incorporate a database or anything... _with this project._

I haven't created too many JSO

[2018-03-14 05:39] elementWebDev commented on #26
I agree. thanks for clearing that up. I think we're doing pretty good so far.

[2018-03-14 05:43] elementWebDev commented on #26
no we dont have to do json.. but definately a good idea for use on larger projects

[2018-03-14 20:49] Cynth42 commented on #26
I'm just waiting to see the HTML file for products, then the JS team can start working on products.js

[2018-03-14 21:20] elementWebDev commented on #26
We need a couple hero images for sections:
- Computers
- Tech & Gadgets
- Accessories
[Pexels](https://www.pexels.com/) is a pretty good resource for free images

[2018-03-15 07:35] #36 closed

[2018-03-15 07:50] chrisvneal opened #48 "Merge Conflicts"
@elementWebDev I merged your recent commits to the **[dev branch]** first and then @ddpetty's commits to the same branch. Here's what happened _(and I'm glad that it did so I can show you all if you haven't seen too many merge conflicts)_:

@ddpetty created a new **computers.html** file which is fine, but a conflict happened because her _**computers.html**_ link conflicted with @elementWebDev's _*

[2018-03-15 16:55] elementWebDev commented on #48
That was my first merge conflict.. I had noticed it when I was trying to preview the index.html menu. lol It wasn't showing up right, and I kept getting an error then fixing it... at least I will know for future reference, and can check. I thought it was one of the first versions of the menu.

[2018-03-15 17:45] ddpetty commented on #48
Thank you for letting me know! This is my first time contributing to a
group project so I'm sorry for the conflicts. I'll be learning from these.
On Thu, Mar 15, 2018 at 12:55 PM Ivan <notifications@github.com> wrote:

[2018-03-15 18:09] elementWebDev commented on #26
![products-screenshot](https://user-images.githubusercontent.com/12195875/37482310-50d240f8-2841-11e8-9989-91acb49e0810.png)

[2018-03-15 18:14] elementWebDev commented on #48
No need to be sorry.. we're all learning here :)

On Mar 15, 2018 10:45 AM, "ddpetty" <notifications@github.com> wrote:

[2018-03-15 18:18] elementWebDev commented on #48
That was my first reply by email.. Forgot to delete quoted message

[2018-03-15 18:56] chrisvneal commented on #48
Yeah @ddpetty no more conflicts! lol Nah merge conflicts are part of the game. When you made your changes, others were making changes too.

We all don't know who's doing what, that's actually the fun part and they can all be rectified easily. Thanks for the commits!

[2018-03-15 21:02] elementWebDev commented on #26
![product-dropdown](https://user-images.githubusercontent.com/12195875/37490919-5b4d30fc-2859-11e8-88ae-d9b358e0e826.png)

This was more of what I had in mind

[2018-03-15 21:09] elementWebDev commented on #26
oops the audio is supposed to be .hero-audio or similar naming not .hero-tech

[2018-03-15 21:24] elementWebDev commented on #26
product transition
![transitions](https://user-images.githubusercontent.com/12195875/37491931-98e8cd1a-285c-11e8-9033-6f2a7d6333b0.png)

[2018-03-15 21:39] elementWebDev commented on #48
Absolutely awesome working with a team... This is my first. I have worked alone for years and taking about a month per project. The power in the team is fresh ideas, breaking things down to smaller digestable chunks, and help... Lol

[2018-03-16 04:16] Cynth42 commented on #26
Hi guys!
Thank you all for the great progress!  I'll catch up over the weekend.  I'm working on my student story that has to be submitted tomorrow(Friday).

[2018-03-16 06:31] chrisvneal commented on #26
@elementWebDev Good thinking, way ahead! I fixed a lot of those issues and I _did_ notice the link/menu arrangement. Also I'm just seeing these wireframe ideas for the first time.

* I did remove the **hero section** on those separate product sections though. If you had a better idea for that in the works, you can go ahead and add that back in there

* I removed the **headphones graphics** at the

[2018-03-16 06:32] chrisvneal commented on #26
@elementWebDev If you get a chance, can you create another issue going over ideas for the site's interactive functionality. Looks like you have some good ideas. I'll go over them!

[2018-03-16 18:08] elementWebDev commented on #26
sounds good.. lots to keep me busy :) i uploaded the master to my server before i saw the comments, and was a little confused..lol bit it all makes sense now :)

[2018-03-16 18:25] elementWebDev commented on #26
sorry about the late wireframes, these ideas came to me as I was working on the project, and thought it would be easy to work around for others and share the proposal

[2018-03-16 19:46] ddpetty commented on #26
Does anyone have ideas for the computers page? I'm binge coding on Sunday
and I would like to stay consistent with other pages while adding a little
CSS flair.

On Fri, Mar 16, 2018 at 2:25 PM, Ivan <notifications@github.com> wrote:

[2018-03-16 19:47] ddpetty commented on #26
I work just under full time so I have to fit a ton of time when I can.

On Fri, Mar 16, 2018 at 3:46 PM, Dionne Petty <dionne.petty@gmail.com>
wrote:

[2018-03-17 03:45] #48 closed

[2018-03-17 03:59] chrisvneal commented on #26
@ddpetty

Nothing to worry about, do what you can. In the meantime, I can look over your **computers.html** page as we build a template for any other category pages, nice page btw! I sectioned the CSS off for it in _products.css_, so we can look at that separately. Before you start your code binge, remember to pull the latest changes from this repo's **[master]** branch.

@elementWebDev

How do yo

[2018-03-17 07:30] chrisvneal opened #65 "[master] branch LIVE on GitHub Pages"
@GWGweb-projectgroup

We can now view project progress _**(master branch)**_ by visiting our website link via [GitHub Pages](https://pages.github.com/):

https://gwgweb-projectgroup.github.io/practice-project/

Anytime the **[master]** branch is updated, the website will be updated as well.

[2018-03-17 07:53] chrisvneal commented on #26
@GWGweb-projectgroup

I added a [Project Page](https://github.com/GWGweb-projectgroup/practice-project/projects/2) for us whenever we get to the point where we're comfortable creating tasks in a project format. This project setup is built similar to the Trello app.

Also, **tomorrow** sometime when I get the chance, I'll be making some adjustments to the teams.

[2018-03-17 17:45] elementWebDev commented on #26
I dont have much time this weekend, but I saw your ratings and will work on
this to make it respond to input. I found a good tutorial to work with.

On Mar 17, 2018 12:53 AM, "Chris Neal" <notifications@github.com> wrote:

@GWGweb-projectgroup <https://github.com/gwgweb-projectgroup>

I added a Project Page
<https://github.com/GWGweb-projectgroup/practice-project/projects/2> for us
whenever we get

[2018-03-19 02:02] Cynth42 commented on #26
Hey you all!
Submitted student story- hope you all submitted yours! I pulled the latest changes to my local.  See more html, css and js pages (onSale.html, audio.html, prroducts.css, styles.css, global_styles.css, product.js). Styling is mainly bootstrap?  Looking at product.js

[2018-03-19 02:13] chrisvneal commented on #26
@GWGweb-projectgroup

Hey @Cynth42

I submitted my story! I wasn't going to, but I had something to say at the last minute lol

As for **Bootstrap**, I figured since I wanted to learn it and @elementWebDev started out using the framework for the layout, it'd be good to work some of it into the project. I'm even considering using Bootstrap's [carousel](https://getbootstrap.com/docs/4.0/components/c

[2018-03-19 17:30] elementWebDev commented on #26
@GWGweb-projectgroup

looks like I gotta catch up from the weekend, good job!

Bootstrap Carousel tutorials
[BS docs](https://getbootstrap.com/docs/4.0/components/carousel/)
[w3schools tutorial](https://www.w3schools.com/bootstrap/bootstrap_carousel.asp)

[2018-03-19 17:41] elementWebDev commented on #26
sorry @chrisvneal .. i just saw your link to the carousel docs

[2018-03-19 21:36] elementWebDev commented on #26
@GWGweb-projectgroup

Just got a dynamic rating feature implemented on the product template (still in-progress).
I'm doing a PR next

![capture](https://user-images.githubusercontent.com/12195875/37623594-78f543fc-2b82-11e8-9653-0a2418b0e76c.PNG)

[2018-03-19 21:44] Cynth42 commented on #26
Glad you sent in your story@chrisvneal!  I'm familiar with bootstrap 4, and I'm looking over Carousel docs.

[2018-03-20 03:54] Cynth42 commented on #26
So the main page would be the  index.html?  Are we adding in some carousel slides? which elements are we targeting?

[2018-03-20 04:28] MeganSpauldingCreative commented on #26
Hey guys! I'm hoping in here a little late to the game, and am pretty lost, even after reading up, honestly! Could be that it's late!

Would someone mind sharing what our current goals are? Thank you so much in advance!

[2018-03-20 18:46] elementWebDev commented on #26
@Cynth42
- index.html is the home page
- I'm not sure what you mean by targeted elements, just replace the images, unless you are adding thumbnails to the slider

@MeganSpauldingCreative
- Pretty much we are building the pages, if you see something that could be improved go ahead and work on it locally and then create a pull request

[2018-03-20 18:46] chrisvneal commented on #26
@MeganSpauldingCreative you were removed as a member along with other inactive members. If you want to be a member, you have to sign up for something and contribute code in that area.

One of the other members reached out saying they didn't get emails, I don't know if that's the case with you, if it is my apologies, but that would be an issue on your end. You were part of a group that when I looke

[2018-03-20 18:48] elementWebDev commented on #26
lol...  that last 2 messages got sent in tandem

[2018-03-20 18:48] chrisvneal commented on #26
@elementWebDev

Anybody else I removed can sign up to just be a contributor. I know people have different schedules and everything but there were a lot of members not doing contributing to the code base.

[2018-03-20 18:50] elementWebDev commented on #26
@chrisvneal  I understand, I had been trying to figure out what to say and was going to mention contacting you about the team

[2018-03-20 18:52] elementWebDev commented on #26
that was good timing

[2018-03-20 18:56] chrisvneal commented on #26
@elementWebDev

Yeah I tried to let everyone know, some people may have not been getting the notifications. I would have at least liked for some to come back and check on the progress of the group they signed up for as I did make notice of cleaning up the group of people who seemed to be inactive.

The project is actually coming along nice and I'll take a look at the pull requests when I come back

[2018-03-20 19:04] elementWebDev commented on #26
@chrisvneal

sounds good

[2018-03-20 20:16] Cynth42 commented on #26
**_index.html is the home page
I'm not sure what you mean by targeted elements, just replace the images, unless you are adding thumbnails to the slider_**

What is supposed to be done with the home page?  What images should be sliding onto the homepage?   I'm looking at the wireframe to give me leads. Please make this thing clear so we can start working on it.  I'm fired up and ready to do it! lol

[2018-03-20 20:44] elementWebDev commented on #26
@Cynth42
I would use the carousel to show featured products and possibly a special holiday discount image, basically it's our showcase.

@GWGweb-projectgroup

Just an update...
![details-button](https://user-images.githubusercontent.com/12195875/37681459-fc305f06-2c43-11e8-9e35-212c8906196f.png)
![details](https://user-images.githubusercontent.com/12195875/37681471-025256be-2c44-11e8-9a8d-ee746f5e

[2018-03-20 22:15] chrisvneal commented on #26
Looking good @elementWebDev

I implemented the carousel on index.html. Make changes as you see fit, I like some of the images

A few questions

* Is your **product.html** file a template for a _roll over/modal_? That looks pretty nice, we can use it

* How will **ratings.js** and **ratings.html** be implemented?

[2018-03-20 22:23] elementWebDev commented on #26
@chrisvneal

this is actually a dropdown from the details, but a modal would be better... sorry, a little rusty with BS

[2018-03-20 22:46] chrisvneal commented on #26
I'm going to close this issue, unless any of you need to open it again.

* I prefer that another issue be opened pertaining to the topic in question and the discussion will be based on that

* General discussion Issues can always be open if you like. If it's associated with a **pull request**, create a comment in the pull request!

This closes Issue #26

[2018-03-20 22:47] #26 closed

[2018-03-20 22:47] #65 closed

[2018-03-21 02:21] MeganSpauldingCreative opened #74 "Re-Sign Up & Confusing button placement"
Sorry if me making a new issue is messing up the workflow, delete if not allowed, I just wasn't sure how to respond since a new issue hadn't been opened yet ***Sorry GitHub Newbie...***

My family has been out of town, so I am late to the game! But jumping right in! I'm a web designer by trade, so hopefully I can be of some help!

Secondly, I was going through the site, and thought the "view more"

[2018-03-21 02:47] elementWebDev commented on #74
You're on the right track, I was thinking the same about the reviews being
towards the bottom and / or on the single product pages.

The categories have placeholder info until we have something more relevant.

On Tue, Mar 20, 2018, 7:21 PM MeganSpauldingCreative <
notifications@github.com> wrote:

[2018-03-21 03:06] Cynth42 opened #77 "Adding Carousel in onsale.html"
Hi Guys!
looking at onSale.html and would like to add carousel to some images in labels folder (discount images). Want to add them at the top of the page.  Any suggestions?

[2018-03-21 03:18] elementWebDev commented on #77
@Cynth42

off the top of my head... having a div with 2 images
- product img
- label image on top as long as its background is transparent

[2018-03-21 03:31] chrisvneal commented on #77
@Cynth42 @elementWebDev
Best thing would be to copy the code from index.html and adjust from there. I have to fix the sizing on the headers though due to recent commits.

[2018-03-21 03:41] Cynth42 commented on #77
Alright, I wanted to add it right above audio headphone:

<img width="1273" alt="screen shot 2018-03-20 at 11 38 57 pm" src="https://user-images.githubusercontent.com/14208716/37693722-06eecbb8-2c98-11e8-824a-67dd20b76012.png">

[2018-03-21 03:42] chrisvneal commented on #77
@Cynth42 Yeah, that's where it's supposed to go. It can be the main page header for now.

[2018-03-21 03:48] Cynth42 commented on #77
Alright, was wondering how many images? up to three: big sale, discount1, discount2- did you say to add transparent background @elementWebDev ?

[2018-03-21 04:03] chrisvneal commented on #77
@Cynth42

It's all up to you, however many you feel like contributing. Key points to the project:

* have fun, practice what you need to learn and contribute those skills somehow to the project
* be consistent with the main idea and overall style/layout of the site

Basically, you have free roam to add however many pictures you want, as long as the content is within scope  of the main project _(i.

[2018-03-21 04:06] chrisvneal commented on #77
@GWGweb-projectgroup

Don't mean to be a nag, but this is a quick reminder to pull from the **[master]** branch for the latest changes before laying your changes on top of anything and trying to get them merged in. We will get less merge conflicts this way. 😄

[2018-03-21 04:24] chrisvneal commented on #74
I would assume that the button would take me to a separate page more items, not really produce a dropdown of more items. What would be better though, a more minimal button and some way to indicate that users will be taken to a different page?

[2018-03-21 05:10] chrisvneal opened #84 "Create Modal branch"
@GWGweb-projectgroup

The **[create_modal]** branch is just a quick _test/feature_ branch for anyone invloved to test development of a modal system for "product details pop ups".

Please ask if you have any trouble working with this branch.

[2018-03-21 21:55] elementWebDev commented on #84
Not sure if we should go with a modal for product details after messing with ideas (because of the amount of info).
However, modals can definitely be used for individual items, such as larger product pictures, a small list of reviews, different product variations, etc.

Here's a better layout mockup for the single product page.
...thoughts?

![single-product](https://user-images.githubusercontent.

[2018-03-21 23:14] Cynth42 commented on #77
So this the changes I made to onsale.html. Added carousel slides that comprised of 4 images.  Uploaded is the first image. Please let me know if I need to make any adjustments before pushing for merging:
<img width="1206" alt="screen shot 2018-03-21 at 7 09 33 pm" src="https://user-images.githubusercontent.com/14208716/37742404-d568cde2-2d3b-11e8-925b-85a856761ba1.png">

[2018-03-21 23:40] elementWebDev commented on #84
Sorry for things not looking the greatest, I cancelled my Adobe Print/Web subscription after 20 years! LOL

I started using open source software when I got into Udacity. :)

[2018-03-21 23:48] elementWebDev commented on #77
@Cynth42

I meant it depends on whether the image itself has a transparent background.

This is looking good :)

[2018-03-22 00:10] Cynth42 commented on #77
Right @elementWebDev, I think all the images have transparent background.  They look good against the banner container:
<img width="1263" alt="screen shot 2018-03-21 at 8 07 14 pm" src="https://user-images.githubusercontent.com/14208716/37744106-dc31417e-2d43-11e8-8ee3-02fab90d3fca.png">

[2018-03-22 00:16] elementWebDev commented on #77
@Cynth42  they do, I was just looking at them, the other images need to be optimized, which I'll probably take care of

[2018-03-22 00:20] Cynth42 commented on #77
Great idea @elementWebDev and you'll also need to adjust the page so that the footer is in placed.  I noticed that after adding the slides, there was no space for the footer even after I reduced the "view more" buttons.  Please take a look at that.  Thanks :)

[2018-03-22 00:25] elementWebDev commented on #77
I can't view your work until it's merged, but it's probably an extra or missing div

[2018-03-22 00:28] Cynth42 commented on #77
Alright, I'll check to see if there's a missing div or an extra one before pushing.

[2018-03-22 00:28] elementWebDev commented on #77
you can post your code here too

[2018-03-22 00:43] elementWebDev commented on #77
background: cover;

is good for use on large banner images that look squished as it will basicly crop what is viewable and you can add images on top

[2018-03-22 00:47] elementWebDev commented on #77
@Cynth42
you can try that later.. Dont worry about it now.

[2018-03-22 04:05] chrisvneal commented on #84
@elementWebDev

lol looks great to me, let's do it. I really didn't want to create that branch anyway and the code seemed like too much for what we're trying to do. I'll delete it.

Also,

* _PHP_ would seem perfect for something like this. I've forgotten a lot of it but it seems you may be more familiar. Just a thought I had.

* I'm stuck on the whole _PHP vs Node.js_ thing now and just learning

[2018-03-22 17:13] elementWebDev commented on #84
@chrisvneal

I will work on putting something together in .js or php to fill in the product info.. I worked with php in CMS platforms like WordPress, ZenCart, OpenCart, etc. which already have the base back-end for you. I'm familiar with it but by no means an expert.

@GWGweb-projectgroup
I may need someone to work on building out the html for the wireframe above while I do this. It doesn't need t

[2018-03-22 22:21] MeganSpauldingCreative commented on #74
@chrisvneal That's a good thought. I will work on this tonight to get something that maybe is more user friendly, and push to a temporary branch for approval!

[2018-03-23 08:30] chrisvneal commented on #84
@GWGweb-projectgroup

It's not connected to anything yet, but check out **[product.html](https://gwgweb-projectgroup.github.io/practice-project/product.html)**

@elementWebDev This may serve as a template, let me know if anything needs adjusting.

[2018-03-23 18:19] elementWebDev opened #90 "We have approval for pics and descriptions!"
I just got approval to use product info and images... I will be gathering :)
Suggestions are welcome

[2018-03-23 19:27] elementWebDev commented on #90
@GWGweb-projectgroup

Backup plan...
In the case that only 10% will move on to next round...

I am interested in freelancing or getting a team together. If anyone is interested please let me know. I have experience with wholesalers, distributors and resellers. Theres alot of talent here just waiting to be unleashed

[2018-03-23 21:38] elementWebDev commented on #84
@chrisvneal

looks great, thanks for jumping on that so quick lol

[2018-03-24 01:53] chrisvneal commented on #90
What's this about? You starting a business or something? For this project? lol

[2018-03-24 02:01] elementWebDev commented on #90
Ive been working with stores since 2009, with a variety of platforms.. Im just thinking ahead, those interested would of course need to continue learning. There are alot of free resources. Im used to doing everything myself.

[2018-03-24 02:08] chrisvneal commented on #90
Good to know! I'll keep this info in my back pocket 😉

[2018-03-24 02:40] MeganSpauldingCreative commented on #74
I took probably way to long trying to sort this out when the most obvious answer was right in front of my eyes! I moved the button to above the reviews instead of after, and also added a containing border on each of the sections to help break the page up. If you guys like what I did, we can go ahead and close this issue!

[2018-03-24 02:44] Cynth42 commented on #90
@elementWebDev - This sounds interesting~ great back plan! :)

[2018-03-24 02:50] chrisvneal commented on #74
Hey @MeganSpauldingCreative  I'll take a look at things. It looks like your pull request won't let me merge until some issues are fixed.

Sounds like a great idea, I was thinking that users would be compelled to **View More** after reading **Reviews** but I guess it doesn't matter at this point. I'll see if I can fix what's causing an issue.

Good job! 👍

[2018-03-27 22:43] #90 closed

[2018-03-27 22:44] #74 closed

[2018-03-27 22:44] #84 closed

[2018-03-27 22:44] #77 closed

[2018-03-28 01:32] MeganSpauldingCreative opened #101 "Leaving"
Hey guys, I think I am going to have to bow out! My daughter has been teething and running my own group project is about all I've been able to handle right now! Just wanted to let you know! Thanks for being willing to include me.

[2018-03-28 01:39] elementWebDev commented on #101
It was nice having you on the team Megan, thanks for your help and fresh
ideas :)

On Tue, Mar 27, 2018, 6:32 PM MeganSpauldingCreative <
notifications@github.com> wrote:

[2018-03-28 02:07] ddpetty commented on #101
Thank you for your help!!!!
On Tue, Mar 27, 2018 at 9:39 PM Ivan <notifications@github.com> wrote:

[2018-03-28 20:00] Cynth42 commented on #101
Thank you helping out @MeganSpauldingCreative!

[2018-03-30 07:12] #101 closed

[2018-03-30 22:42] elementWebDev opened #102 "Using PHP"
I'm working on centralizing the header, nav, content, and footer.
I've been having issues with my editors picking up the extension with my server though, so working on getting it together.

[2018-03-31 00:09] Cynth42 opened #103 "Is there a specific deadline for this project?"
What is the specific deadline for this project?

[2018-03-31 00:32] ddpetty commented on #102
So the plan is to use PHP for the back end?
On Fri, Mar 30, 2018 at 7:10 PM Ivan <notifications@github.com> wrote:

[2018-03-31 00:34] elementWebDev commented on #102
Just to keep from repeating code across pages

On Fri, Mar 30, 2018, 5:32 PM ddpetty <notifications@github.com> wrote:

[2018-03-31 01:42] ddpetty commented on #103
There hasn't been one stated.
On Fri, Mar 30, 2018 at 9:26 PM Cynthia Clinton <notifications@github.com>
wrote:

[2018-03-31 03:04] chrisvneal commented on #103
No deadline! This is all us 🙌

[2018-03-31 03:06] chrisvneal commented on #102
PHP baby! lol that's cool hope this gives me a chance to study up on some things. Hopefully we'll be able to

* template out a lot of the html page headers and footers

* flesh out that product.html template with data for whatever product we select

[2018-03-31 03:49] Cynth42 commented on #103
Alright ~ thanks! :)

[2018-03-31 04:45] elementWebDev commented on #102
Thats the point, so you don't have to edit the same code on every page

On Fri, Mar 30, 2018, 9:42 PM Chris Neal <notifications@github.com> wrote:

[2018-04-01 04:32] Cynth42 commented on #102
Hey You all!
Do you want to share this project on [code corps](https://www.codecorps.org/code-corps/code-corp)?  That way we could get more contributors?

[2018-04-01 04:47] ddpetty commented on #102
I'm up for that idea! I wish I was able to contribute more frequently, but
some extra bills popped up and I have to work more instead of coding more.
What does everyone else think?
On Sun, Apr 1, 2018 at 12:32 AM Cynthia Clinton <notifications@github.com>
wrote:

[2018-04-01 23:58] Cynth42 commented on #102
Don't know yet @ddpetty - waiting to hear from everyone else :)

[2018-04-02 00:10] elementWebDev commented on #102
Yes..php will be used for backend.Go ahead and continue to work on your
features,

- I will need help getting products info and images, i started a list in
products.js (look to see whats needed)

- We had permission to use the assets from https://megagoods.com

On Sun, Apr 1, 2018, 4:58 PM Cynthia Clinton <notifications@github.com>
wrote:

[2018-04-02 00:12] elementWebDev commented on #102
Oops replied from email to wrong thread it seems

[2018-04-02 00:29] Cynth42 commented on #102
Where can I get some good resources on php? Don't know php, but I'm good with ruby

[2018-04-02 00:32] Cynth42 commented on #102
I'll also look at product.js to see what can be done there.  What are you working on in product.js @elementWebDev ?

[2018-04-02 02:15] elementWebDev commented on #102
So far its just a product list to pull from

[2018-04-02 19:26] chrisvneal opened #104 "Back At It"
@GWGweb-projectgroup

## What's up, everybody!
I hope you all had a fun and safe weekend with family 🐰 , seems like the last week has been busy for us all. Apologies for not _being here_.

### Udacity Yearbook Project
I took some time _(more than I intended)_ to look at the [Udacity Yearbook Project](https://github.com/sgs006/Udacity-Yearbook-Project) and see how they were doing with that. I was i

[2018-04-02 21:11] Cynth42 commented on #104
Hey, thanks @chrisvneal for the youtube video on PHP! I'll watch it later.  Since our project here doesn't have any deadline to it, I'm looking at the Udacity Yearbook project to see if I can do some quick contribution - looks interesting.  I'll come back to our project in a few, but we need some clear directives on how to go forward with this project - like how to get clear images. I also noticed

[2018-04-02 21:27] chrisvneal commented on #104
@Cynth42 I'm not too worried about the js files and interactive functionality at this point. @elementWebDev is on that and he has ideas we'll soon work in when we get to that point.

There's still some layout and design that needs to be tightened before we dig into JS but not a whole lot. The code for the Udacity YearbookProject was everywhere when I got to it and I had to refactor a lot of stuff.

[2018-04-02 21:34] ddpetty commented on #104
I'm learning basic PHP syntax right now through Sololearn. I'm doing my
second interview with a small company in the morning for a Frontend Dev
position. I will be meeting with the backend dev to see if we are
compatible. I feel like the business web project is beyond my skill level,
but I'll be aggressive about finding out what I need to know. I have been
busy working also and contributing to the

[2018-04-02 21:47] chrisvneal commented on #104
Thanks @ddpetty, do what you can. No rush here!

[2018-04-08 03:46] elementWebDev commented on #102
This is gonna be fun! All kinds of ideas for differant modules after brushing up on the php. This is an opprtunity for all teams in html, css, and javascript

[2018-04-08 08:09] chrisvneal commented on #102
Nice @elementWebDev, I hope we can all bring whatever technologies we are currently learning to the table and help each other learn & master them. I'm currently learning

* node / npm / **Gulp** _(task runner)_

* modern workflow, etc.

Has anyone gotten into the _"modern workflow"_ world of CLI task runners & build tools _(Gulp, [webpack](https://webpack.js.org/), etc)_?

It's pretty interesting

[2018-04-08 18:30] elementWebDev commented on #102
@chrisvneal I havent gotten into any of that, however Ive been working on php mysql so we can get this in a database to pull from.

   All of this is great... Continuing in this project we'll get to build a reusable ecommerce platform. After managing eCommerce sites(various platforms) for years I have many ideas that can be implemented, (i.e. subscription service, etc).

[2018-04-08 21:13] ddpetty commented on #102
I have gotten into Gulp. It makes web dev so easy while you just focus on
code.

On Sun, Apr 8, 2018 at 2:30 PM, Ivan <notifications@github.com> wrote:

[2018-04-09 02:50] chrisvneal commented on #102
@GWGweb-projectgroup

That's great!

I wouldn't mess with Gulp unless you're really comfortable with the command line. I'm trying to learn something new everyday.

Between today and tomorrow I'll be looking into making **xmlhttp requests**, may be needing that sometime in the future 😉

[2018-04-22 06:06] elementWebDev commented on #102
This issue is out of the scope of the project.. Have been working with node and react which has the ability to work with databases and create apps versus websites. I will come back to this later and edit. Lets keep up the project.

[2018-07-03 07:18] elementWebDev opened #111 "Cohort"
would love to have you guys in a cohort

its... me @taskmaster :thumb

[2018-07-03 20:23] chrisvneal commented on #111
What's up @elementWebDev , how would that work out? I've never dealt with cohorts before.

[2018-07-04 03:10] chrisvneal commented on #111
Wow, that sounds great! I'm not against the idea at all, but I'm just starting to catch up with the Udacity stuff surprisingly. Between moving and helping other students as a Student Leader, I kind of slipped and I also started taking online college courses with **Purdue Global** so I have a full plate. When things slow down, I'll definitely look into joining cohorts.

[2018-07-04 03:52] elementWebDev commented on #111
no worries.. im trying to catch up too.. joining this round a month late
kinda put me in a bind, but im catching up lol

On Tue, Jul 3, 2018, 8:10 PM Chris Neal <notifications@github.com> wrote:

[2019-03-10 16:37] elementWebDev commented on #102
Ok.. Here's the edit ya'll... Finally!

So we all have been out of the scholarship for awhile, however I've still been working on e-commerce.

- I have a product list we can work with
- working with the Vue.js frontend
- using Vue Storefront (setup and ready for implementation)

- Vue Storefront is backend agnostic ( meaning it can be used with any backend CMS.

I will create another branch on thi

[2019-03-10 16:43] elementWebDev opened #112 "Who's with me?"
Ok.. Here's the edit ya'll... Finally!

So we all have been out of the scholarship for awhile, however I've still been working on e-commerce.

- I have a product list we can work with
- working with the Vue.js frontend
- using Vue Storefront (setup and ready for implementation)

- Vue Storefront is backend agnostic ( meaning it can be used with any backend CMS.

I will create another branch on thi

[2019-03-10 16:58] elementWebDev commented on #112
Basically we will be

- building a theme (design)
- implementing paypal API
- replacing demo products data with actual products

[2019-03-11 03:59] chrisvneal commented on #112
What's up @elementWebDev , I was just thinking about this project the other day lol I'd be down, but I don't know **Vue**. I checked out the vuemastery.com site tho, it seemed like it would help. Upload anything you come up with, I'd like to see, glad to see you still around!

[2019-03-11 14:57] elementWebDev commented on #112
Im happy you saw this.. I wasn't sure who all was getting updates

[2019-03-12 08:14] chrisvneal commented on #112
That's great @elementWebDev I'm looking into doing more open source work to boost the resume and stuff. I hate that I'm so busy with other things going on but I'm interested and want to continue to do some work. I'll check out the pull request as soon as I can. You have great talents, don't overwhelm yourself! I'll holla atcha! 😄

[2019-03-12 16:39] elementWebDev commented on #112
# Getting Started

[Vue handbook](https://drive.google.com/file/d/1YHbzIlhTfU0SaWcX8LgpyG8nSnho75y-/view?usp=drivesdk)

## Documentation

1. [Vue Docs](https://vuejs.org/v2/guide/)
2. [Vue CLI](https://cli.vuejs.org/)
3. [Intro to Storefront](https://docs.vuestorefront.io/guide/)

### Resources
- [Style Guide](https://vuejs.org/v2/style-guide/)
- [Vue Cheat sheet](https://flaviocopes.com/vue-cheat

[2019-03-12 17:54] #102 closed

[2019-03-13 17:57] elementWebDev commented on #112
After looking at [https://gwgweb-projectgroup.github.io/practice-project/rb/](https://gwgweb-projectgroup.github.io/practice-project/rb/) I realized two things

- the page is fading out from a script I included for non-paying clients (fixed)
- the image folder is in my .gitignore (because I'm not sure about the size limit for repos)

[2019-03-14 00:17] chrisvneal commented on #112
Great resources! I'm not sure about the size limit on images in the repos either. How many do you have? I only ignore things like node modules etc

[2019-03-14 15:19] elementWebDev commented on #112
I added the images, just the thumbs, not large just in case. There are 1,396 thumbs

[2019-03-14 15:27] elementWebDev commented on #112
I'm still learning the Vue ecosystem... I have done a few intro courses, but still need more... I'm working on a Udemy course [Vue JS 2 the Complete Guide](https://www.udemy.com/vuejs-2-the-complete-guide/), which covers everything you need to build SPA's and PWA's (offline app usable on all platforms- and ready to order when back online)

[2019-04-01 15:03] elementWebDev commented on #112
Looks like I'll be working on the [Vue JS 2 Course](https://www.udemy.com/vuejs-2-the-complete-guide/) for awhile, there's almost 400 lessons. Here's a link to [my repo with notes](https://github.com/elementwebdev/vue-course)